body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;

}

button {
    padding: 4px 10px;
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid #747474;
    font-family: 'Times New Roman', Times, serif;
    
}

#container,
#buttons,
#score {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

#container {
    justify-content: space-between;
    align-items: center;
}

#buttons,
#score {
    gap: 10px;
}

.highlight {
    font-size: 22px;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}