body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;

}

button {
    padding: 4px 10px;
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid #747474;
    font-family: 'Times New Roman', Times, serif;
    
}

#container,
#buttons,
#score {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

#container {
    justify-content: space-between;
    align-items: center;
}

#buttons {
    gap: 10px;
}

#score {
    gap: 10px
}